@tailwind base;
@tailwind components;
@tailwind utilities; 

.home_section_format { 
  margin-left: 10%; 
  margin-right: 10%; 
  margin-top: 5%;
  flex-direction: row; 
  display: flex; 
  align-items: center;
}

.barchart {
  padding-right: 15%;
}

.HomeHeading {
  font-size: 35px; 
  font-family: 'Times New Roman', Times, serif;
  padding-left: 45%;
  padding-top: 3%; 
} 

.Welcome{
  font-size: 25px; 
  font-family: 'Times New Roman', Times, serif;
  padding-left: 10%;
}